body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*-------- Estilização do Container e Centralização --------*/
#container{
	background: #1C1C1C;
	display: flex;

	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100vh;
	
}

#container #boxs{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#container #boxs > div {
    background: #363636;
    margin: 5%;
    text-align: center;

}

div.field{
    width: 100%;
    height: 45vh;
}

/*-------- Estilização dos Icones --------*/
#boxs .field .icon{ 
	width:	100%;
	height:  80%;
	margin-top:  1.953125vw;

	display: flex;
	align-items: center;
	justify-content: center;
}

#container #boxs .field i{
	width: 40%;
	height: 15vh;
	display: flex;
	align-items: center;
	justify-content: center;
}



#designing-id i {
	border: 2px solid greenyellow;
}


#development-id i {
	border: 2px solid 	#FF00FF;

}

#seo-id i {
	border: 2px solid lightskyblue;

}

/*-------- Estilização dos Textos --------*/
.h2-text{
	color: white;
	font-family: sans-serif;
}

#container #boxs .field .icon{
	width:	100%;
	height:  30%;
	margin-top:  1.953125vw;

	display: flex;
	align-items: center;
	justify-content: center;
}

#container #boxs .field .icon i{
    font-size: 3em;
}

#designing-id i {
	border: 2px solid greenyellow;
    color: greenyellow;
}


#development-id i {
	border: 2px solid 	#FF00FF;
    color: #FF00FF;
}

#seo-id i {
	border: 2px solid lightskyblue;
    color: lightskyblue;
}

/*-------- Estilização dos Textos --------*/
.h2-text{
	color: white;
	font-family: sans-serif;
}
 
/*-------- Estilização dos Botões --------*/
button{
	width: 45%;
	height: 10%;
	border: none;

}
button a{
	text-decoration: none;

	padding-left: 10px;
	padding-bottom: 8px;
	padding-top: 8px;
	padding-right: 10px;
	
	display: flex;
	align-items: center;
	justify-content: center;	
}

#designing-button{
	background:greenyellow ;
}

#development-button{
	background:#FF00FF;
}

#seo-button{
	background:lightskyblue ;
}
/*--------- Animações do  Span  ---------- */

div#container #boxs .field{
    position: relative;
}

div#boxs span{
	position: absolute;

    transition: 0.5;
	
}

div#boxs span.top1{
	top: -8px;
	left: 20px;
	width: 200px;
	height: 2px;
	background: red;
	transform: rotate(15deg);
}

div#boxs:hover span.top1{
	top: -8px;
	left: 20px;
	width: 200px;
	height: 2px;
	background: red;
	transform: rotate(0deg);
	transition: 0.5s;
}

div#boxs span.right1{
	top: 30px;
	right: -8px;
	width: 2px;
	height: 250px;
	background: red;
	transform: rotate(-15deg);
}

div#boxs:hover span.right1{
	top: 30px;
	right: -8px;
	width: 2px;
	height: 250px;
	background: red;
	transform: rotate(0deg);
	transition: 0.5s;
}

div#boxs span.bottom1{
	bottom: -10px;
	left: 20px;
	width: 80%;
	height: 2px;
	background: red;
	transform: rotate(15deg);
}

div#boxs:hover span.bottom1{
	bottom: -10px;
	left: 20px;
	width: 80%;
	height: 2px;
	background: red;
	transform: rotate(0deg);
	transition: 0.5s;
}

div#boxs span.left1{
	top: 25px;
	left: -8px;
	width: 2px;
	height: 250px;
	background: red;
	transform: rotate(-15deg);
}
div#boxs:hover span.left1{
	top: 25px;
	left: -8px;
	width: 2px;
	height: 250px;
	background: red;
	transform: rotate(0deg);
	transition: 0.5s;
}

